@model IEnumerable<Politica>
@{
    ViewData["Title"] = "Política";
}

<hr class="bg-primary">
<div class="font-monospace p-3 mb-2 text-center text-white fs-1 fw-bold" style="background-color: #ADFAF6;">POLÍTICA</div>
<hr class="bg-primary">
<h5>Aquí encontraras las últimas noticias de la política:</h5>
<hr class="bg-primary">

<partial name="_ListadoPolitica" model="Model" />